*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    height: 5%;
    padding: 10px;
    background-color: antiquewhite;
    border-bottom: 3px solid black;
}

button#size {
    cursor: pointer;
}

#container {
    display: flex;
    height: 95%;
}

#container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gridSquare {
    flex: 1;
}